.form-title
{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
.bg-white
{
    background-color: white;
}
.inner-heading
{
    font-weight: 800;
    font-style: oblique;
}
.btn-tiny
{
    height: 20px;
    padding-top: 0;
}
.text-description
{
    text-align: justify;
}