.navbar_icons
{
    margin-bottom: 5px;
    margin-right: 5px;
}
.client-logo
{
    margin-top: 10px;
    height: 50px;
    width: auto;
}
.nav-brand
{
    height: 50px;
    width: 200px;
}
.nav-brand-collapsed
{
    height: 50px;
    width: 50px;
}
.hidden
{
    display: none;
}